:root{
--soft-cyan : hsl(174, 77%, 80%); /*Full Slider Bar*/
--strong-cyan : hsl(174, 86%, 45%); /* Slider Backround */
--light-grayish-red : hsl(14, 92%, 95%); /* Discount Background */
--light-red : hsl(15, 100%, 70%); /* Discount Text */
--pale-blue : hsl(226, 100%, 87%); /* CTA Text */

--white : hsl(0, 0%, 100%); /* Pricing Component Background */
--very-pale-blue : hsl(230, 100%, 99%); /* Main Background */
--light-grayish-blue-bar : hsl(224, 65%, 95%); /* Empty Slider Bar */
--light-grayish-blue-bg : hsl(223, 50%, 87%); /* Toggle Background */
--grayish-blue : hsl(225, 20%, 60%); /* Text */
--dark-desaturated-blue : hsl(227, 35%, 25%); /* Text & CTA Background */
}

*{
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", cursive;
}

body{
  /*! background: var(--very-pale-blue) url("../images/bg-pattern.svg") top left/contain no-repeat; */
  background: greenyellow url("../images/bg-pattern.svg") top left/contain no-repeat;
  font-size: 15px;
}
.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--grayish-blue);
}

.intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-image: url("../images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: center;
  
  margin: 40px 0;
  padding: 90px 0;
  
}
.intro h1{
  color: var(--dark-desaturated-blue);
}

.window{
  display: grid;
  
  padding: 50px 50px 0 50px;
  
  width: 600px;
  height: 400px;
  
  background-color: var(--white);
  border-radius: 10px;
  
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
  
}
.window .lower-side{
  display: flex;
  justify-content: space-between;
  align-self: center;
  border-top: 3px solid var(--very-pale-blue);
  
  padding: 20px 0;
}
.window .lower-side .guarantee{
  display: flex;
  flex-direction: column;
}

.guarantee p{
  line-height: 2em;
}
.guarantee p:before{
  content: url("../images/icon-check.svg");
  padding-right: 1em;
}


.window .lower-side #btn-start{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  

  height: 40px;
  width: 150px;
  
  background: var(--dark-desaturated-blue);
  color: var(--grayish-blue);
  border: 1px solid transparent;
  border-radius: 40px;
  cursor: pointer;
}


.upper-side{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "pageviews price"
    "slider slider"
    "sub-opt sub-opt";
  align-items: center;
}
.upper-side .person-touched{
  grid-area: pageviews;
    
  font-weight: 800;

  text-transform: uppercase;
  letter-spacing: 2px;
}
.upper-side .price{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  grid-area: price;
}
.price strong{
  font-size: 2.5em;
  color: var(--dark-desaturated-blue);
}
.price span{
  padding-left: 0.5em;
}

.upper-side .slidecontainer{
  grid-area: slider;
}

.upper-side .subscription{
  display: flex;
  justify-content: flex-end;
  grid-area: sub-opt;
}
.subscription p{
  padding: 0 10px;
}
.subscription #discount{
  margin: 0 10px;
  padding: 0 3px;
  
  color: var(--light-red);
  font-size: 11px;
  
  background: var(--light-grayish-red);
  border-radius: 40px;
}
